p {
line-height: 1.8em;
}

.share-facebook, .share-twitter,
.share-facebook:hover, .share-twitter:hover {
  color: #fff;
  font-weight: 700;
}


/*
.share-facebook {
  background-color: #4667A6;
}
.share-twitter {
  background-color: #00A3D4;
}
*/