    <!-- Fixed navbar -->
    {% load staticfiles %}
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
            <a href="/"><img src="{% static "image/logo/logo_c.png" %}" height="63"></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">

          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li>
             <a aria-hidden="true" href="/about">關於</a>
            </li>
            
             <li>
              <a aria-hidden="true" href="/blog">觀察</a>
            </li>
            <li>
              <!-- <a aria-hidden="true" href="/en/index_e">EN</a> -->
            </li>
          </ul>
          
        </div><!--/.nav-collapse -->
      </div>
    </nav>